@page "/"

    <div class="jumbotron">
        <h1>Continuous Deployment and Continuous Integration Test</h1>
        <p class="lead">This is a simple app that we've built that demonstrates the CI + CD pipeline to automate continuous delivery.</p>
   
    
    </div>

<div>
    I have now resorted to a built app serever KUDU build process ....
    The process to test CD is:
    Edit the code
    Build it 
    Push and sync to github remote
    Come back to azure portal (Don't need to refresh the browser. When prompted to reload click reload link and enjoy!')
</div>