@page "/"

    <div class="jumbotron">
        <h1>Continuous Deployment and Continuous Integration Test</h1>
        <p class="lead">This is a simple app that we've built that demonstrates the CI + CD pipeline to automate continuous delivery.</p>
    </div>
