@page "/"

    <div class="jumbotron">
        <h1>Blazor in Azure!</h1>
        <p class="lead">This is a simple app that we've built that demonstrates how to deploy a Blazor App to Azure App Service.</p>
    </div>
<SurveyPrompt Title="How is Blazor working for you?" />
